.contact {
   background-color:var(--colorDarkBlue);
   width: 100%;
   text-align: center;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   flex-wrap: wrap;
}

.contact form {
   display: flex;
   flex-shrink: 0;
   flex-direction: column;
   align-items: center;
}

.contact h2 {
   font-size: var(--text-2xl);
   width: 100%;
}
.invitacion{
   width: 30%;
}
.invitacion p{
   width: 60%;
   margin: 0 auto;
   color: var(--colorWhite);
   font-size: var(--text-m);
   margin-bottom: 20px;
}

.contact input {
   border: 2px solid black;
   width: 300px;
   height: 30px;
   margin-bottom: 10px;
   background-color: white;
}

.contact textarea {
   border: 2px solid black;
   width: 300px;
   height: 80px;
   resize: none;
   margin-bottom: 2%;
}

.contact input[name="Enviar"] {
   background-color:var(--colorGreenY);
   color:var(--colorWhite);
   font-size: var(--text-xl);
}

.Danger {
   width: 300px;
}
.Danger h2{
   font-size: var(--text-xl);
   margin-top: -10px;
}

.Danger a {
   color: var(--colorTomato);
   font-size: var(--text-2xl);
   text-decoration: none;
   margin-right: 5px;
}
.Danger a:hover{
   color:var(--colorOrange);
}


.clean {
   width: 300px;
   height: auto;
}

.clean img {
   display: block;
   margin: 0 auto;
}

.contact input, .clean h2, .contact textarea {
   font-size: var(--text-base);
}

.contact h2, .Danger {
   color:var(--colorWhite);
}
/*
@media (max-width: 1200px) {}

@media (max-width: 992px) {}
*/
@media (max-width: 768px) {
   .invitacion{width: 100%;
   }
   .invitacion p{
      width: 60%;
      font-size: var(--text-base);
   }
}

@media (max-width: 576px) {
   .contact h2 {
      font-size:var(--text-xl);
   }
   .Danger h2{
      font-size: var(--text-l);
   }
}